<div id="<%= dom_id recipe %>" class="table">
  <p>
    <strong>Title:</strong>
    <%= recipe.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= recipe.author_first + recipe.author_last %>
  </p>

  <p>
    <strong>Instructions:</strong>
    <%= recipe.instructions %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= recipe.public %>
  </p>
  <% ingredients.each do |ingredient| %>
    <p><%= ingredient.inspect %></p>
  <% end %>
</div>
