<div id="<%= dom_id recipe %>" class="table">
  <header class="d-flex flex-row align-items-center">
    <h1>
      <%= recipe.title %>
    </h1>
    <span>
       &nbsp; By <%= recipe.author_first + " " + recipe.author_last %>
    </span>
  </header>

  <h2>Ingredients</h2>

  <% ingredients.each do |ingredient| %>
    <% if ingredient.numerator.present? %>
      <p>
        <sup><%= ingredient.numerator %></sup>&frasl;<sub><%= ingredient.denominator %></sub>
        <%= ingredient.unit %>
        <%= ingredient.item %>
      </p>
    <% end %>
    <% if ingredient.whole.present? %>
      <p>
        <%= ingredient.whole %>
        <%= ingredient.unit %>
        <%= ingredient.item %>
      </p>
    <% end %>
  <% end %>

  <p>
    <%= recipe.instructions %>
  </p>
</div>
