<p id="notice"><%= notice %></p>

<p>
  <strong>Author first:</strong>
  <%= @recipe.author_first %>
</p>

<p>
  <strong>Author last:</strong>
  <%= @recipe.author_last %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @recipe.instructions %>
</p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Public:</strong>
  <%= @recipe.public %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
