<div id="<%= dom_id ingredient %>">
  <p>
    <strong>Numerator:</strong>
    <%= ingredient.numerator %>
  </p>

  <p>
    <strong>Denominator:</strong>
    <%= ingredient.denominator %>
  </p>

  <p>
    <strong>Whole:</strong>
    <%= ingredient.whole %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= ingredient.unit %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= ingredient.item %>
  </p>

</div>
